@keyframes arrowSlide {
    from{transform: translateX(0)}
    to{transform: translateX(-2px)}
}

@keyframes textSlide {
    from{transform: translateX(0)}
    to{transform: translateX(2px)}
}

@keyframes slideTop {
    0% {
              transform: scale(1,1) translateY(50px);
              opacity: 0;
    }
    25% {
             transform: scale(1.1,.9) translateY(0);
             opacity: 1;
    }
    40% {
             transform: scale(.9,1.1) translateY(10px);
             opacity: 1;
    }
    60% {
            transform: scale(1,1) translateY(0px);
            opacity: 1;
    }
    70% {
            transform: scale(.95,1.05) translateY(0);
            opacity: 1;
    }
    90% {
            transform: scale(1.05,.95) translateY(0);
            opacity: 1;
    }
    100% {
              transform: scale(1,1) translateY(0);
              opacity: 1;
    }
  }