$palette-whitesmoke: #f8f8f8;
$palette-coal: #222;
$palette-dodger-blue: #3D9FFF;
$palette-dodger-blue-darker: #148BFF;
$palette-green-500: #28a745;
$palette-red-600: #cb2431;



$primary-light: $palette-whitesmoke;
$primary-dark: $palette-coal;
$accent-blue: $palette-dodger-blue;
$accent-blue-darker: $palette-dodger-blue-darker;
$accent-green: $palette-green-500;
$accent-red: $palette-red-600;